table, th, td {
    border: 1px solid Black;
    border-collapse: collapse; 
    }
table {
    width: 90%;
    margin: auto;
    }
ul {
    margin-left: 10%;
    }
th {
    background-color: #D5D8DC;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    }
Caption {
    font: 14pt bold;
    margin-bottom: 10px;
    }