table, th, td {
    border: 1px solid Black;
    border-collapse: collapse; 
    }
table {
    background-color: yellow;
}
td {
    font-style: italic;
}
table {
    width: 90%;
    margin: auto;
    }
ul {
    margin-left: 10%;
    }
th {
    background-color: #D5D8DC;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    }
Caption {
    font: 18pt bold;
    margin-bottom: 10px;
    }
a {
    font-size: 18pt;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: yellow;
}
a:active {
    text-decoration: none;
}